<h1> Hey A warm Welcome </h1>
<div> Please click on the button and confirm your email </div>

<form id="email_confirmation" name="user", method="post", action = "http://localhost:3000/confirm_email">
	<%= hidden_field(:user, :code) %>
	<%= hidden_field(:user, :email) %>
	<input type="submit" value="Confirm Email" />
</form> 