<div style="width:300px; margin:0 auto;">
	<h4 style="width:300px; margin:0 auto;">Sign Up</h4>

	<% if(this.model.get("errors") != undefined) { %>
		<ul>
			<% for(var i=0; i< this.model.get("errors").errors.length ; i++) {%>
				<li><%= this.model.get("errors").errors[i] %></li>
			<% } %>
		</ul>
	<% } %>

	<form id="sign_in" name="user">
		<div class="actions">
			UserName:<br> 
			<input type="text" id="username"><br>
			Email:<br>
			<input type="text" id="email"><br>
			Password: <br>
			<input type="text" id="password"><br>
			<input type="submit" value="SIGN UP" />
		</div>

	</form>

	<a href="#/sign_in">SIGN IN</a>
</div>
